.container {
  width: 1158px;
  padding: 0px 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0px 0px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 768px;
    padding: 0px 15px;
    margin: 0 auto;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #202020;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  text-align: center;
}

.custom-span {
  color: #ffeb38;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.header__button {
  font-family: Poppins;
  font-size: 16px;
  width: 130px;
  height: 45px;
  background: #ffeb38;
  color: #000000;
  letter-spacing: 0.02em;
}
.header__button:hover, .header__button:focus {
  animation: snake-rotete-button 2.5s ease 0s infinite normal both;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav__item__link {
  position: relative;
  font-family: Poppins;
  letter-spacing: 0.02em;
}
.nav__item__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease;
}
.nav__item__link:hover::before {
  width: 100%;
}
.nav__item__link:focus::before {
  height: 4px;
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  height: 768px;
  background-image: linear-gradient(180deg, rgba(14, 14, 14, 0.85) 99.73%, rgba(14, 14, 14, 0.85) 99.74%), url(../img/hero-office-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0px auto 0px auto;
}

.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 790px;
  text-align: center;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 700;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  padding: 14px 0 22px 0;
}

.hero-subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 780px;
  height: 60px;
}

.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

.hero-list__item__btn-one {
  font-family: Poppins;
  font-size: 16px;
  width: 180px;
  height: 50px;
  background: #ffeb38;
  color: #000000;
  letter-spacing: 0.02em;
}
.hero-list__item__btn-one:hover, .hero-list__item__btn-one:focus {
  animation: snake-rotete-button 1.5s ease 0s infinite normal both;
}

.hero-list__item__btn-two {
  font-family: Poppins;
  font-size: 16px;
  width: 180px;
  height: 50px;
  background: #fff;
  color: #000000;
  letter-spacing: 0.02em;
}
.hero-list__item__btn-two:hover, .hero-list__item__btn-two:focus {
  animation: snake-rotete-button 1.5s ease 0s infinite normal both;
}

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
  padding: 110px 0;
  background: #0e0e0e;
}
.section-about .container-about {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.section-about .photo-list {
  position: relative;
}
.section-about .photo-list__item__photo {
  position: absolute;
  left: 200px;
  top: 220px;
}
.section-about .about-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  gap: 30px;
  max-width: 530px;
}
.section-about .about-block .about-text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-about .about-block .about-text::before {
  display: block;
  content: "";
  width: 143px;
  height: 2px;
  background: #d8d8d8;
}
.section-about .about-block .about-title {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.02em;
}
.section-about .about-block .about-text-two {
  color: #696969;
  text-align: justify;
  font-family: Poppins;
  line-height: 155%;
  letter-spacing: 0.02em;
}
.section-about .about-block .about-text-two .space-text {
  display: block;
  padding: 35px 0;
}
.section-about .about-block .about-btn {
  font-family: Poppins;
  font-size: 16px;
  width: 180px;
  height: 50px;
  background: #ffeb38;
  color: #000000;
  letter-spacing: 0.02em;
  animation: snake-rotete-button-2 2s ease 0s infinite normal both;
  transition: 0.3s;
}
.section-about .about-block .about-btn:hover, .section-about .about-block .about-btn:focus {
  box-shadow: 0px 0px 10px 1px rgba(255, 235, 56, 0.5215686275);
}

.container-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  padding: 110px 0;
}
.container-services .service-block {
  display: flex;
  flex-direction: column;
  max-width: 530px;
}
.container-services .service-block__subtitle {
  display: flex;
  justify-content: baseline;
  align-items: center;
  font-weight: 700;
  line-height: 155%;
  gap: 12px;
  padding-bottom: 20px;
}
.container-services .service-block__subtitle::before {
  display: block;
  content: "";
  width: 150px;
  height: 2px;
  background: #d8d8d8;
}
.container-services .service-block__title {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.02em;
}
.container-services .service-block__subtitle-two {
  color: color;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 155%;
  padding: 25px 0 40px 0;
}
.container-services .service-block__btn {
  font-family: Poppins;
  font-size: 16px;
  width: 180px;
  height: 50px;
  background: #ffeb38;
  color: #000000;
  letter-spacing: 0.02em;
  box-shadow: 10px 8px 0px 0px rgba(255, 235, 56, 0.5215686275);
  transition: 0.3s;
}
.container-services .service-block__btn:hover, .container-services .service-block__btn:focus {
  box-shadow: 14px 10px 0px 0px rgba(255, 235, 56, 0.5215686275);
}
.container-services .services-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 20px;
}
.container-services .services-list__item {
  position: relative;
  width: 270px;
  height: 170px;
  border-radius: 5px;
  flex-shrink: 0;
  background: #fff;
}
.container-services .services-list__title {
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 50px;
}
.container-services .services-list__subtitle {
  color: #696969;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 155%;
  padding-top: 12px;
}
.container-services .services-list .service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeb38;
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  left: 35%;
  top: -25%;
}

.section-portfolio {
  background: #0e0e0e;
  height: 830px;
  padding: 110px 0;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.02em;
  position: relative;
  line-height: 155%;
  align-items: center;
  gap: 20px;
}
.subtitle-portfolio::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 160px;
  height: 2px;
}
.subtitle-portfolio::before {
  content: " ";
  display: block;
  background-color: #fff;
  width: 160px;
  height: 2px;
}

.title-portfolio {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 450px;
  padding: 35px 0 60px 0;
}

.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.about-list__item__button {
  border-radius: 5px;
  background: #ffeb38;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Poppins;
  letter-spacing: 0.02em;
}
.about-list__item__button-error {
  background-color: #fff;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo-list {
  padding-top: 50px;
  display: flex;
  gap: 20px;
}

.section-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 110px 0;
}

.feedback-title {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.02em;
  max-width: 530px;
  padding: 19px 0 130px 0;
}

.feedback-subtitle {
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  gap: 10px;
}
.feedback-subtitle::before {
  display: block;
  content: "";
  width: 150px;
  height: 2px;
  background: #d8d8d8;
}

.feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.feedback-list__item {
  position: relative;
  width: 370px;
  height: 200px;
  border-radius: 5px 5px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.feedback-list__item__span {
  background-color: #ffeb38;
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  left: 38%;
  top: -25%;
}
.feedback-list__title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02em;
}
.feedback-list__subtitle {
  color: #696969;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.02em;
}

.section-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contact-form-block {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.contacts-title {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.02em;
  max-width: 650px;
  padding-bottom: 30px;
}

.contact-subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.contact-subtitle::before {
  display: block;
  content: "";
  width: 150px;
  height: 2px;
  background: #d8d8d8;
}

.contacts-subtitle-more {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: justify;
  max-width: 530px;
  padding-bottom: 30px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.feedback-form__input {
  width: 530px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background: #fff;
  box-sizing: border-box;
  padding-left: 20px;
}
.feedback-form__textarea {
  font-size: 16px;
  width: 533px;
  height: 149px;
  flex-shrink: 0;
  resize: none;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}
.feedback-form__button {
  font-family: Poppins;
  font-size: 16px;
  width: 180px;
  height: 50px;
  background: #ffeb38;
  color: #000000;
  letter-spacing: 0.02em;
}

.form-button {
  width: 180px;
  height: 48px;
  border-radius: 5px;
  background: #ffeb38;
  color: #0e0e0e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  transition: 0.3s;
}

.form-button:hover,
.form-button:focus {
  box-shadow: 8px 8px 0px 0px rgba(255, 235, 56, 0.5215686275);
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 100px 0;
  height: 200px;
  gap: 30px;
}

.footer__link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
}
.footer__link-wrap__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}
.footer__link-wrap__subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: start;
  letter-spacing: 0.02em;
}
.footer__link-wrap__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.link {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  text-align: start;
  letter-spacing: 0.02em;
  transition: 0.2s;
}

.link:hover {
  color: #ffeb38;
}

.footer__services-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
}
.footer__services-wrap__subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  text-align: start;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.footer__services-wrap__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.footer__resources-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
}
.footer__resources-wrap__subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  text-align: start;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.footer__resources-wrap__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.footer__information-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
}
.footer__information-wrap__subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  text-align: start;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.footer__information-wrap__list {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

@keyframes snake-rotete-button {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes snake-rotete-button-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */