$yellowColor: #ffeb38;

.custom-span {
  color: $yellowColor;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.global-subtitle {
  color: #fff;
  font-family: Poppins;
  letter-spacing: 0.48px;
  font-weight: 400;
}

.global-title {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.03em;
}
