.header {
  @include displayFlexCenter;
}
.header__container {
  @include displayFlexCenter(space-between);
  height: 95px;
}
.logo {
  @include displayFlexCenter;
  gap: 5px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}
.header__button {
  @include buttonStyle(130px, 45px);
  &:hover,
  &:focus {
    animation: snake-rotete-button 2.5s ease 0s infinite normal both;
  }
}

.nav__list {
  @include displayFlexCenter;
  gap: 40px;
}
.nav__item__link {
  position: relative;
  font-family: Poppins;
  letter-spacing: 0.02em;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &:focus {
    &::before {
      height: 4px;
    }
  }
}
