.section-hero {
  @include displayFlexCenter;
  background-color: #0e0e0e;
  height: 768px;
  background-image: linear-gradient(
      180deg,
      rgba(14, 14, 14, 0.85) 99.73%,
      rgba(14, 14, 14, 0.85) 99.74%
    ),
    url(../img/hero-office-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0px auto 0px auto;
}

.container-hero {
  @include displayFlexCenter;
  flex-direction: column;
}

.title {
  width: 790px;
  text-align: center;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 700;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  padding: 14px 0 22px 0;
}

.hero-subtitle {
  @include subtitle;
  width: 780px;
  height: 60px;
}

.hero-list {
  @include displayFlexCenter;
  gap: 20px;
  padding-top: 30px;
}
//===========button==hero============||

.hero-list__item__btn-one {
  @include buttonStyle;
  &:hover,
  &:focus {
    animation: snake-rotete-button 1.5s ease 0s infinite normal both;
  }
}

.hero-list__item__btn-two {
  @include buttonStyle(180px, 50px, #fff);
  &:hover,
  &:focus {
    animation: snake-rotete-button 1.5s ease 0s infinite normal both;
  }
}
