.section-about {
  @include displayFlexCenter;
  height: 560px;
  padding: 110px 0;
  background: #0e0e0e;

  .container-about {
    @include displayFlexCenter(space-between, start);
  }

  .photo-list {
    position: relative;
    &__item__photo {
      position: absolute;
      left: 200px;
      top: 220px;
    }
  }

  .about-block {
    @include displayFlexCenter(space-between, baseline);
    flex-direction: column;
    gap: 30px;
    max-width: 530px;
    .about-text {
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 155%;
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
      gap: 12px;
      &::before {
        display: block;
        content: "";
        width: 143px;
        height: 2px;
        background: #d8d8d8;
      }
    }

    .about-title {
      @include title;
    }

    .about-text-two {
      color: #696969;
      text-align: justify;
      font-family: Poppins;
      line-height: 155%;
      letter-spacing: 0.02em;

      .space-text {
        display: block;
        padding: 35px 0;
      }
    }

    .about-btn {
      @include buttonStyle;
      animation: snake-rotete-button-2 2s ease 0s infinite normal both;
      transition: 0.3s;
      &:hover,
      &:focus {
        box-shadow: 0px 0px 10px 1px #ffeb3885;
      }
    }
  }
}
