.section-hero {
  background-color: #0e0e0e;
  height: 758px;
  display: flex;
  background-image: linear-gradient(
      180deg,
      rgba(14, 14, 14, 0.85) 99.73%,
      rgba(14, 14, 14, 0.85) 99.74%
    ),
    url(../../img/hero-office-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 790px;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 700;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  padding: 14px 0 22px 0;
}

.hero-subtitle {
  text-align: center;
  width: 780px;
  height: 60px;
}

.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

.hero-list__item__btn-one {
  width: 180px;
  height: 48px;
  background: $yellowColor;
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.hero-list__item__btn-two {
  width: 180px;
  height: 48px;
  background: #fff;
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.hero-list__item__btn-one:hover,
.hero-list__item__btn-one:focus,
.hero-list__item__btn-two:hover,
.hero-list__item__btn-two:focus {
  animation: snake-rotete-button 1.5s ease 0s infinite normal both;
}
