.section-portfolio {
  background: #0e0e0e;
  height: 830px;
  padding: 110px 0;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-portfolio {
  @include displayFlexCenter;
  @include subtitle(#fff, justify);
  position: relative;
  line-height: 155%;
  align-items: center;
  gap: 20px;

  &::after {
    content: " ";
    display: block;
    background-color: #fff;
    width: 160px;
    height: 2px;
  }
  &::before {
    content: " ";
    display: block;
    background-color: #fff;
    width: 160px;
    height: 2px;
  }
}

.title-portfolio {
  @include title;
  text-align: center;
  max-width: 450px;
  padding: 35px 0 60px 0;
}

.about-list {
  @include displayFlexCenter;
  gap: 12px;

  &__item {
    &__button {
      border-radius: 5px;
      background: $yellowColor;
      padding: 10px 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      font-family: Poppins;
      letter-spacing: 0.02em;
    }

    &__button-error {
      background-color: #fff;
      padding: 10px 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.about-photo-list {
  padding-top: 50px;
  display: flex;
  gap: 20px;
}
