.section-contacts {
  @include displayFlexCenter;
  height: 850px;
}

.container-contacts {
  @include displayFlexCenter(space-between);
  gap: 30px;
}

.contact-form-block {
  @include displayFlexCenter(center, baseline);
  flex-direction: column;
}

.contacts-title {
  @include title;
  max-width: 650px;
  padding-bottom: 30px;
}

.contact-subtitle {
  @include subtitle;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  &::before {
    display: block;
    content: "";
    width: 150px;
    height: 2px;
    background: #d8d8d8;
  }
}

.contacts-subtitle-more {
  @include subtitle;
  text-align: justify;
  max-width: 530px;
  padding-bottom: 30px;
}

// form

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__input {
    width: 530px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    background: #fff;
    box-sizing: border-box;
    padding-left: 20px;
  }

  &__textarea {
    font-size: 16px;
    width: 533px;
    height: 149px;
    flex-shrink: 0;
    resize: none;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
  }

  &__button {
    @include buttonStyle;
  }
}

.form-button {
  width: 180px;
  height: 48px;
  border-radius: 5px;
  background: $yellowColor;
  color: #0e0e0e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  transition: 0.3s;
}

.form-button:hover,
.form-button:focus {
  box-shadow: 8px 8px 0px 0px #ffeb3885;
}
